:root {
    --mac-os-fonts: system-ui, -apple-system, BlinkMacSystemFont;
    --font:  var(--mac-os-fonts), "Segoe UI", Roboto, sans-serif;
    --text-color: white;
    --bg-color: #252525;
    --title-bar-color: #1e1e1e;
    --title-bar-hl-color: #4d4d4d;
    --window-border-thickness: 2px;
    --border-radius: 4px;
    --accent-color: rgb(168, 15, 168);
    --light-accent-color: rgb(123, 59, 148);
    --lighter-accent-color: rgb(128, 86, 145);
}

html, body{
    margin: 0;
    height: 100%;
    background-color: var(--bg-color);
}

* { box-sizing: border-box;}

#title-bar {
  -webkit-app-region: drag; 
  height: 30px;
  background-color: var(--title-bar-color);
  color: var(--text-color);
  font-family: var(--font);
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  padding: 0px 0px 0px 5px;
}
#window-controls{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
}
#WindowTitle{
    height: 100%;
    font-size: 14px;
    margin: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
}
#title-bar .button {
    -webkit-app-region: no-drag;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#title-bar .button:hover { background-color: #4e4e4e }
#title-bar .button:active { background-color: #353535; }
#title-bar #Close:hover { background-color: #ca1717; }
#title-bar #Close:active { background-color: #990e0e; }

#top-bar {
    --height: 29px;
    --element-size: calc(var(--height) + 1px);

    display: flex;
    -webkit-app-region: drag; 
    width: 100%;
    height: calc(16px + var(--height));
    background-color: var(--title-bar-color);
    outline: solid var(--window-border-thickness) var(--title-bar-hl-color);
    padding: 10px; /* UI Perfections arghh */
    align-items: center;
    gap: 7px;
}

#top-bar button {
    display: flex;
    -webkit-app-region: no-drag;

    background-color: #353535;
    border: rgb(161, 161, 161) solid 1px;
    color: white;

    width: var(--element-size); height: var(--element-size);
    min-width: var(--element-size); max-width: var(--element-size);
    min-height: var(--element-size); max-height: var(--element-size);
    
    border-radius: var(--border-radius);
    font-size: calc(var(--element-size) / 2px);

    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: var(--element-size);

    justify-content: center;
    align-items: center;
    user-select: none;
}
#top-bar button:hover { background-color: #575757; }
#top-bar button:active {
    background-color: #464646;
    border: var(--light-accent-color) solid 1px;
    box-shadow: var(--accent-color) 0px 0px 8px;
}
#top-bar button:focus { outline: none; }

#top-bar input {
    -webkit-app-region: no-drag;
    height: var(--element-size);
    width: 100%;
    background-color: #464646;
    border: rgb(161, 161, 161) solid 1px;
    color: white;
    border-radius: var(--border-radius);
    font-size: calc(var(--element-size) / 2);
}
#top-bar input:active { border: rgb(161, 161, 161) solid 1px; }
#top-bar input:focus {
    outline: none;
    border: var(--light-accent-color) solid 1px;
    box-shadow: var(--accent-color) 0px 0px 8px;
}

#app-wrapper{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
}

#app-content { height: 100%; }

#window-border {
    border: var(--window-border-thickness) var(--accent-color) solid;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 1000;
}

#file-list {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--font);
    font-size: 14px;

    padding: 10px;
    height: 100%;

    overflow-y: auto;
}
.file-item {
    display: flex;
    position: relative;
    padding: 6px 10px;
    border-radius: calc(var(--border-radius) + 2px);
    user-select: none;
    color: rgba(255, 255, 255, 0.856);
    margin-bottom: 2px;
}
.file-item:hover { background-color: #3f3f3f; }
.file-item:active { background-color: #333333; }
.file-item.selected {
    /* background-image: linear-gradient(var(--light-accent-color), var(--accent-color)); frutiger aero style*/
    background-color: var(--accent-color);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.356) 1px 2px 18px;
}

.file-item.selected::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: inherit;
    pointer-events: none;
    z-index: 0;
}

.file-item .item-size { margin-left: auto; }

/* Context Menu */
#context-menu {
    display: none;
    position: absolute;
    z-index: 3;

    min-width: 225px;
    top: 150px;
    left: 10px;
    --horizontal-padding: 7px; --vertical-padding: calc(var(--horizontal-padding) + 1px);
    padding-left: var(--horizontal-padding); padding-right: var(--horizontal-padding);
    padding-top: var(--vertical-padding); padding-bottom: var(--vertical-padding);

    border-radius: calc(var(--border-radius) + 2px);
    font-family: var(--font);
    color: white;
    background-color: rgba(44, 44, 44, 0.507);
    backdrop-filter: blur(20px);
    box-shadow: rgba(30, 30, 30, 0.418) 2px 3px 12px;
    user-select: none;

    animation-name: context-menu-fade-in;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}
#context-menu::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-radius: inherit;
    pointer-events: none;
    z-index: 0;
}

#context-menu .context-menu-option {
    position: relative;
    --horizontal-padding: 2px; --vertical-padding: 5px;
    padding-left: var(--horizontal-padding); padding-right: var(--horizontal-padding);
    padding-top: var(--vertical-padding); padding-bottom: var(--vertical-padding);
    border-radius: var(--border-radius);

    font-size: 15px;
}
#context-menu .context-menu-option:hover {
    background-color: rgba(133, 133, 133, 0.384);
}
#context-menu .context-menu-option:active {
    background-color: rgba(133, 133, 133, 0.15);
}

#context-menu h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
#context-menu .text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;
}

#tooltip {
    position: fixed;

    font-family: var(--font);
    font-weight: 500;
    font-size: 12px;

    background-color: rgb(241, 241, 241);
    color: black;
    padding: 5px 8px;
    border-radius: 3px;
    opacity: 0;

    white-space: nowrap;

    z-index: 999;
    transition: opacity 0.2s ease;

    pointer-events: none;
    will-change: transform, opacity;
}

hr {
    border: 0;
    background-color: rgba(255, 255, 255, 0.534);
    width: 100%;
    height: 0.5px;
}

/* File List Scroll Bar */
#file-list::-webkit-scrollbar { width: 15px; }
#file-list::-webkit-scrollbar-track { background: transparent; }
#file-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
#file-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

#file-list::-webkit-scrollbar-thumb:active { background-color: rgba(255, 255, 255, 0.1); }

/* Misc */
.reload-icon { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;

    transform: rotate(20deg);
    display: inline-block;
    justify-content: center;
    align-items: center;
}

/* Anims */
@keyframes context-menu-fade-in {
    from { opacity: 0%; }
    to { opacity: 100%; }
}